/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : jawed
*/
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: #cccccc;
}
.head{
    height: 60px;
    width: 100%;
    background-color: #96969f;
}
.head h1{
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin: auto;
    
}

.head h1 span{
    color: red;
}
.box{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 6px;
    padding: 5px;
}
.img{
    border: 3px white solid;
    height: auto;
    width: 300px;
    flex-grow: 1;
    margin: 5px;
}
.img img{
    height: 100%;
    width: 100%;
}
.img:hover{
    transform: scale(1.02);
    border: 3px red solid;
    border-radius: 10px;
    overflow: hidden;
}